@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<a href="/Customer/new" class="btn btn-primary mb-2">New Customer</a>

<table id="customers" class="table table-hover">
	<thead>
		<tr>
			<th>Customers</th>
			<th>Membership Type</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

@section scripts
{
	<script>
		$(document).ready(function ()
		{
			$("#customers").DataTable({
				ajax: {
					url: "/api/customers",
					dataSrc: ""
				},
				columns:
				[
					{
						data: "name",
						render: function (data, type, customer)
						{
							return "<a href='/customer/new/" + customer.id + "'>" + customer.name + "</a>";
						}
					},
					{
						data: "name"
					},
					{
						data: "id",
						render: function (data)
						{
							return "<button class='btn btn-link js-delete' data-customer-id='" + data + "'>Delete</button>";
						}
					}
				]
			});
		});
	</script>
}

