<appSettings>
	<add key="FacebookAppId" value="925413788567516"/>
	<add key="FacebookAppSecret" value="58c5dbdf978a19ac7a3859850ae3b890"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>